{% extends 'send/base.html' %}
{% block content %}
    <div class="col-12 bg-danger">
        <div class="row text-center">
            <div class="col text-center">
                <div class="card text-center">
                    <div class="card-body text-center bg-dark">
                        <form method="post">
                            {% csrf_token %}
                            Подтвердить удаление
                            <p>Со временем: {{ object.time }}</p>
                            <p>С темой сообщения: {{ object.message.theme }}</p>
                            <p>Со статусом: {{ object.status }}</p>
                            <p><button href="{% url 'params:params_list' %}" type="submit" class="button btn btn-success">Подтвердить</button>
                                <a href="{% url "params:params_list" %}" class="btn btn-warning">Отмена</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}