{% extends 'send/base.html' %}
{% block content %}
    {% load my_tags %}
    <div class="col-12">
        <div class="row">
            <div class="container">
                <div class="row">
                    {% csrf_token %}
                    <div class="col-12 bg-danger">
                        <div class="row text-center">
                            <div class="col text-center">
                                <div class="card text-center">
                                    <div class="card-body text-center bg-dark">
                                        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                                            <h3>Номер:{{ object.id }}</h3>
                                            <p class="lead">Тема: {{ object.message.them }}</p>
                                            <p class="lead">Текст: {{ object.message.message }}</p>
                                            <p class="lead">Время: {{ object.time }}</p>
                                            <p class="lead">Статус: {{ object.status.name }}</p>
                                            <p class="lead">Период: {{ object.period.name }}</p>
                                            <a href="{% url 'params:detail' object.pk %}" type="submit"
                                               class="button btn btn-warning">Посмотреть</a>
                                            <a href="{% url 'params:update' object.pk %}" type="submit"
                                               class="button btn btn-warning">Редактировать</a>
                                            <a href="{% url 'params:delete' object.pk %}" type="submit"
                                               class="button btn btn-warning">Удалить</a>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
