{% extends 'frontend/base.html' %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="col-12 bg-danger">
            <div class="row text-center">
                <div class="col text-center">
                    <div class="card text-center">
                        <div class="card-body text-center bg-dark">
                            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                                Подтвердить удаление параметров {{ object.title }}
                                <button href="{% url 'send:send_list' %}" type="submit"
                                        class="button btn btn-success">Подтвердить
                                </button>
                                <a href="{% url 'send:sends' %}" class="btn btn-warning">Отмена</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}