{% extends 'frontend/base.html' %}
{% load my_tags %}
{% block content %}
    {% for object in object_list %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h3>Отправление №:{{ object.id }}</h3>
            <p class="lead">ФИО: {{ object.client }}</p>
            <p class="lead">Почта: {{ object.client.email }}</p>
            <p class="lead">Статус: {{ object.send.status }}</p>
            <p class="lead">Тема сообщения: {{ object.send.message }}</p>
            <p class="lead">Период: {{ object.send.period }}</p>
            <p class="lead">Время рассылки: {{ object.send.time }}</p>
            <a href="{% url 'send:view' object.pk %}" type="submit" class="button btn btn-warning">Посмотреть</a>
            <a href="{% url 'send:update' object.pk %}" type="submit" class="button btn btn-warning">Редактировать</a>
            <a href="{% url 'send:delete' object.pk %}" type="submit" class="button btn btn-warning">Удалить</a>
            <hr>
        </div>
    {% endfor %}
    <hr>
    <hr>
{% endblock %}