{% extends 'frontend/base.html' %}
{% block content %}
{% load my_tags %}
<div class="container">
    <div class="row">
        {% csrf_token %}
        {% for object in object_list %}
        <div class="col-4">
            <div class="card" style="background-color: black">
                <div class="card-body">
                    <p>{{ object.title }} ----- {{ object.slug }}</p>
                    <p class="card-text">{{ object.content }}</p>
                    <div class="d-flex justify-content-bretween align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'blog:view' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">
                                View {{ object.count_view }}</a>
                            <a href="{% url 'blog:update' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">
                                Edite</a>
                            <a href="{% url 'blog:delete' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">
                                Delete
                            </a>
                        </div>
                    </div>
                    <p class="text-muted">{{ object.date_created }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}