{% extends 'frontend/base.html' %}
{% block content %}
    <div class="card-body">
        {% if error %}
        <h1>{{ error }}</h1>
        <hr>
        {% else %}
        <hr>
        {% endif %}
        <form method="post" action="" class="form-floating">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email">Введите почту, мы отправим на нее ваш новый пароль</label>
                <input type="email" name="email" class="form-control" id="email-id" placeholder="email" required>
                </input>
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}