{% extends 'distribution/base.html' %}
{% block content %}
    <div class="row">
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">{{ object.status }}</strong>
                        <h3 class="mb-0">{{ object.pk }}</h3>
                        <div class="mb-1 text-body-secondary">{{ object.message.message }}</div>
                        <p class="card-text mb-auto">{{ object.time }}</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            {{ object.period }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}