{% extends 'frontend/base.html' %}
{% block content %}
    {% load my_tags %}
    <div class="col-12">
    <div class="row">
    <div class="container">
        <div class="row">
            {% csrf_token %}
            <div class="col-12 bg-danger">
                <div class="row text-center">
                    <div class="col text-center">
                        <div class="card text-center">
                            <div class="card-body text-center bg-dark">
                                <p>Тема сообщения: {{ object.theme }}</p>
                                <p class="card-text">Текст Сообщения:{{ object.message }}</p>
                                <a href="{% url 'message:detail' object.pk %}" type="submit" class="button btn btn-warning">Посмотреть</a>
            <a href="{% url 'message:update' object.pk %}" type="submit" class="button btn btn-warning">Редактировать</a>
            <a href="{% url 'message:delete' object.pk %}" type="submit" class="button btn btn-warning">Удалить</a>
            <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
