{% extends 'frontend/base.html' %}
{% block content %}
    <div class="col-12 bg-danger">
        <div class="row text-center">
            <div class="col text-center">
                <div class="card text-center">
                    <div class="card-body text-center bg-dark">
                        <form method="post">
                            {% csrf_token %}
                            Подтвердить удаление
                            <p>Со временем: {{ object.theme }}</p>
                            <p>С темой сообщения: {{ object.message }}</p>
                            <p><button href="{% url 'message:list' %}" type="submit" class="button btn btn-success">Подтвердить</button>
                                <a href="{% url 'message:detail' object.pk %}" class="btn btn-warning">Отмена</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}